html, body{
    height: 100%;
}
body{
	padding-top: 55px;
    min-height: 100%;
}

@media (min-width: 768px) and (max-width: 991px) {
    body{
        padding-top: 110px;
    }
}

.spinner{
    display: none;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/spinner.gif');
}
#mainView{
    min-height: 100%;
}

.loggedinmenu{
    margin-top: 10px;
    float: right;
}
.bar {
    height: 18px;
    background: green;
}
.uploader h1{
    text-align: center;
}
.uploader input{
    margin: 10px auto;
}
.one-image{
    max-width: 480px; 
    display: block;
    margin: 10px auto;
    position: relative;
}
.one-image img{
    width: 100%;
    position: relative;
    top:0;
    left: 0;
}
.one-image .title{
    display:none;
    font-size: 21px;
    overflow: hidden;
    text-align: center;
    color: #000;
    text-shadow:0px 0px 5px #fff;
    position: relative;
    height: 30px;
    overflow: hidden;
    top:10px;
    z-index: 1;
    margin-bottom: -30px;
}
.one-image  input.title{
    margin: 0 auto -30px;
}
.one-image .remove{
    color:#fff;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-bottom: -40px;
    background-color: #f00;
    display: none;
    float: right;
    position: relative;
    z-index: 1;
    text-align: center;
    font-weight: 900;
    cursor: pointer;
    top:-15px;
    left: 15px;
    font-size: 20px;
}
.one-image .tags{
    display: none;
}
.one-image .exists .tag{
    color: #fff;
    background-color: #000099;
    margin: 0 5px 0 0;
    height: 20px;
    border-radius: 12px;
    line-height: 12px;
    font-size:12px;
    padding: 4px;
    display: inline-block;
}
.one-image .exists .tag input{
    background: transparent;
    border: none;
    color: #fff;
    vertical-align: top;
    position: relative;
    top: -2px;
}
.one-image .exists .tag input:disabled{
    background-color: #444444;
    color: #DDDDDD;
}
.one-image .exists .tag button{
    height: 13px;
    width: 13px;
    vertical-align: top;
    background: #f00;
    border-radius: 7px;
    border: none;
    line-height: 12px;
    color: #fff;
    padding: 0;
    margin: 0;
    font-weight: 900;
    font-size: 11px;
}
.one-image .new_tag{
    margin-top: 20px;
}
.one-image:hover .tags{
    display: block;
}
.one-image:hover .title,
.one-image:hover .remove,
.one-image:hover .tags,

.one-image.active .title,
.one-image.active .remove,
.one-image.active .tags{
    display: block;
}