html, body{
    height: 100%;
}
body{
	padding-top: 55px;
    min-height: 100%;
}

@media (min-width: 768px) and (max-width: 991px) {
    body{
        padding-top: 110px;
    }
}

.spinner{
    display: none;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/spinner.gif');
}
#mainView{
    min-height: 100%;
}

.loggedinmenu{
    margin-top: 10px;
    float: right;
}
.bar {
    height: 18px;
    background: green;
}
.uploader h1{
    text-align: center;
}
.uploader input{
    margin: 10px auto;
}
.one-image{
    max-width: 480px; 
    display: block;
    margin: 10px auto;
}
.one-image img{
    width: 100%;
}
.one-image .title{
    display:block;
    margin-bottom: 20px;
    height: 20px; 
    text-align: center;
}